name: 'java-upgrade-suite - Batch 1'

on:
  workflow_dispatch:

permissions:
  contents: read
  pull-requests: read

jobs:
  run-batch:
    name: 'PR ${{ matrix.pr_num }} Run ${{ matrix.run }}/${{ matrix.total_runs }}'
    strategy:
      matrix:
        include:
          - pr_url: "https://github.com/openrewrite-assist-testing-dataset/payment-processing-service/pull/1"
            pr_num: "1"
            pr_index: 0
            run: 1
            total_runs: 1
          - pr_url: "https://github.com/openrewrite-assist-testing-dataset/analytics-dashboard/pull/1"
            pr_num: "1"
            pr_index: 1
            run: 1
            total_runs: 1
      max-parallel: 1
      fail-fast: false
    uses: ./.github/workflows/rewrite-assist.yml
    with:
      pr_url: ${{ matrix.pr_url }}
      strict_mode: false
      artifact_prefix: ${{ matrix.pr_index }}-run${{ matrix.run }}
    secrets: inherit
