name: 'java-upgrade-suite - Batch 3'

on:
  workflow_dispatch:

permissions:
  contents: read
  pull-requests: read

jobs:
  run-batch:
    name: 'PR ${{ matrix.pr_num }} Run ${{ matrix.run }}/${{ matrix.total_runs }}'
    strategy:
      matrix:
        include:
          - pr_url: "https://github.com/openrewrite-assist-testing-dataset/simple-blog-platform/pull/2"
            pr_num: "2"
            pr_index: 6
            run: 1
            total_runs: 1
          - pr_url: "https://github.com/openrewrite-assist-testing-dataset/notification-service/pull/2"
            pr_num: "2"
            pr_index: 7
            run: 1
            total_runs: 1
          - pr_url: "https://github.com/openrewrite-assist-testing-dataset/inventory-tracking-system/pull/2"
            pr_num: "2"
            pr_index: 8
            run: 1
            total_runs: 1
      fail-fast: false
    uses: ./.github/workflows/rewrite-assist.yml
    with:
      pr_url: ${{ matrix.pr_url }}
      strict_mode: false
      artifact_prefix: ${{ matrix.pr_index }}-run${{ matrix.run }}
    secrets: inherit
