name: 'java-upgrade-suite - Batch 3'

on:
  workflow_dispatch:

permissions:
  contents: read
  pull-requests: read

jobs:
  run-batch:
    name: 'PR ${{ matrix.pr_num }} Run ${{ matrix.run }}/${{ matrix.total_runs }}'
    strategy:
      matrix:
        include:
          - pr_url: "https://github.com/openrewrite-assist-testing-dataset/user-management-service/pull/2"
            pr_num: "2"
            pr_index: 4
            run: 1
            total_runs: 1
          - pr_url: "https://github.com/openrewrite-assist-testing-dataset/task-management-api/pull/2"
            pr_num: "2"
            pr_index: 5
            run: 1
            total_runs: 1
      max-parallel: 1
      fail-fast: false
    uses: ./.github/workflows/rewrite-assist.yml
    with:
      pr_url: ${{ matrix.pr_url }}
      strict_mode: false
      artifact_prefix: ${{ matrix.pr_index }}-run${{ matrix.run }}
    secrets: inherit
